<div class="apod-results">
  <h2>Astronomy Picture of the Day</h2>
    <div class="apod-image-and-description">
      <img src="{{hdurl}}" class="apod-photo">{{hdurl}}</img>
      <h4 class="apod-description"> <h3>Desription:</h3> {{{explanation}}}</h4>
      <h3>Title: {{title}}</h3>
      <h3> Date: {{date}}</h3>
    </div>
    <form class="add-picture">
    <fieldset>
      <input type="text" name="picture[title]" value="{{title}}">
      <button type="submit" id="save-apod-to-favorites" class="btn btn-primary">Save to Favorites</button>
    </fieldset>
  </form>
</div>
