<div class="comment" author-id="{{user.id}}">
  <div class="delete-comment" comment-id="{{id}}"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
  <div class="small-comment-header">{{note}}</div>
  <form class="change-comment">
    <fieldset>
      <input type="number" name="comment[id]" placeholder="Comment ID" value="{{id}}" style="display: none;">
      <input type="text" pattern=".{1,}" required title="1 character minimum" name="comment[note]" placeholder="Edit Comment" style="color:#44A4C4;">
      <button id="update-comment" type="submit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    </fieldset>
  </form>
  <div class="user-email">{{user.email}}
  </div>
  <br>
</div>
