<div class="picture-favorite" picture-id="{{picture_id}}" picture-title="{{picture.title}}" picture-description="{{picture.explanation}}" picture-photo="{{picture.hdurl}}">
      <div class="delete-favorite" favorite-id="{{id}}"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
      <div>{{picture.title}}</div>
      <div picture-id="{{picture_id}}" style="display: none;"></div>
      <div favorite-id="{{id}}" style="display: none;"></div>
  </div>
