<!-- <div class="single-search-result-mars">
  <div>Camera: {{camera.full_name}}</div>
  <div>Date: {{earth_date}}</div>
  <div class="rover-name">Rover Name: {{rover.name}}</div>
  <div>Landing Date: {{rover.landing_date}}</div>
  <div>Launch Date: {{rover.launch_date}}</div>
      <img src="{{img_src}}" class="search-result-photo-mars"></img>
</div> -->
<li><img src="{{img_src}}" style="width: 500px; height: 500px;"></img>
</li>
