<li><img src="{{img_src}}" style="width: 350px; height: 350px;"></img>
  <div class="rover-info">
    <strong>{{rover.name}}</strong>
    <br>
    <strong>{{camera.full_name}}</strong>
    <br>
    Rover Status: <strong>{{rover.status}}</strong>
 </div>
 <!-- <form class="add-mars-picture">
 <fieldset>
   <input type="text" name="picture[title]" value="{{rover.name}}" style="display: none;">
   <input type="text" name="picture[date]" value="{{earth_date}}" style="display: none;">
   <input type="text" name="picture[explanation]" value="{{camera.full_name}}" style="display: none;">
   <input type="text" name="picture[hdurl]" value="{{img_src}}" style="display: none;">
   <button type="submit" class="btn btn-primary">Save to Favorites</button>
 </fieldset>
</form> -->
</li>
