<div class="single-search-result-mars">
  <h3>Date: {{earth_date}}</h3>
    <div class="search-result-image-and-description">
      <img src="{{img_src}}" class="search-result-photo-mars"></img>
      <div class="rover-name">Rover Name: {{rover.name}}</div>
      <!-- <div class="search-result-description-mars">Desription: {{{overview}}}</div> -->
  </div>
    <div>Camera: {{camera.full_name}}</div>
</div>
