<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">NEO Stats</h3>
  </div>
  <div class="panel-body">
    <div class="neo-result-stats">
      <div>Total Number of Near Earth Objects: {{near_earth_object_count}}</div>
      <div>Total Number of Close Approach Count: {{close_approach_count}}</div>
      <div>Last Updated: {{last_updated}}</div>
      <div>Source: {{source}} {{nasa_jpl_url}}</div>
    </div>
  </div>
</div>
