<div class="neo-stats-today">
    <h3>NEO Stats:</h3>
    <div class="neo-result-stats">
      <div>Total Number of Near Earth Objects: {{near_earth_object_count}}</div>
      <div>Total Number of Close Approach Count: {{close_approach_count}}</div>
      <div>Last Updated: {{last_updated}}</div>
      <div>Source: {{source}}
        <br>
        {{nasa_jpl_url}}</div>
    </div>
</div>
