<div class="single-search-result-patents">
  <h3>{{title}}</h3>
  <h5>Abstract: {{abstract}}</h5>
  <h5>Category: {{category}}</h5>
  <h5>Concepts: {{concepts}}</h5>
  <div>
    <h5>Contact: </h5>
    <h6>address: {{contact.address}}</h6>
    <h6>facility: {{contact.facility}}</h6>
    <h6>office: {{contact.office}}</h6>
  </div>
</div>
